site_name: "Zenaura Documentation"
theme:
  name: "material"
  repo_url: https://github.com/squidfunk/mkdocs-material
  logo: assets/logo.png
  favicon: assets/favicon.ico

  font:
    text: Roboto
    code: Roboto Mono 
  features:
  - content.code.annotate
  - content.code.highlight
  - content.code.prettify
  - content.code.copy
  - content.tabs.link
  - header.autohide
  - header.search
  - header.title
  - navigation.instant
  - navigation.sections
  - navigation.tabs
  - navigation.top
  - navigation.tracking
  - search.suggest
  - search.highlight
  - toc.integrate

  language: en
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
 

plugins:
  - search
  - mkdocstrings

nav:
  - "Start Here": index.md
  - Quick Start Guide:
    - quick/installation.md
    - quick/first_app.md
  - The Basics:
    - Components: basics/components.md
    - Component State: basics/state.md
    - Depedency Injection: basics/di.md
    - User Events: basics/user_events.md
    - Pages: basics/pages.md
    - Lifecycle methods: basics/lifecycle.md
    - Client Router: basics/router.md
  - Beyond The Basics:
    - Global Componets: intermediate/global_comp.md
    - Global State: intermediate/global_state.md
    - Handling Forms: intermediate/forms.md
  - Advanced Concepts:
    - The Zenaura Virtual DOM: advanced/virtual_dom.md
    - Component Lifecycle: advanced/lifecycle.md
    - Integrating with APIs: advanced/fetch_data.md
    - Publishing Your App: advanced/publish_site.md
    - Server Side Rendering: advanced/ssr.md
    - Error Handling: advanced/error_handling.md
    - Testing Your App: advanced/testing.md
    - Understanding Pyscript: advanced/pyscript.md
    - Understanding Pydide: advanced/pydide.md
  - Examples:
    - Start Here: examples/start_here.md
    - Contributing: examples/contributing.md
    - Basic Examples:
      - A counter app: examples/basic/counter.md
    - Beyond The Basics Examples:
      - Cory Game of Life: examples/intermediate/game_of_life.md
    - Advanced Examples:
      - Admin Portal: examples/advanced/admin_portal.md



  - API Reference:
    - Client:
      - Algorithm:
        - api/client/algorithm/overview.md
        - api/client/algorithm/operations.md
        - api/client/algorithm/searcher.md
        - api/client/algorithm/updater.md
      - Compiler:
        - api/client/compiler/compiler.md
        - api/client/compiler/sanitize.md
        - api/client/compiler/attribute.md
      - Virtual DOM:
        - api/client/dom/dom.md
        - api/client/dom/lifecycles.md
        - api/client/dom/mount.md
        - api/client/dom/render.md
        - api/client/dom/error.md
      - Virtual DOM Hydrator:
        - Overview: api/client/hydrator/hydrator.md
        - Compiler Adapter: api/client/hydrator/hy_comp.md
        - Real DOM Adapter: api/client/hydrator/hy_rdom.md
        - Virtual DOM Adapter: api/client/hydrator/hy_vdom.md
        - Tasker Adapter: api/client/hydrator/hy_tasker.md
        - Lookup Table: api/client/hydrator/lookup.md
      - Signals:
        - Observer: api/client/observer/observer.md
        - Subject: api/client/observer/subject.md

      - Tags:
        - Node: api/client/tags/node.md
        - Attribute: api/client/tags/attribute.md
        - Html: api/client/tags/html.md
        - Builder: api/client/tags/builder.md
      - Router: api/client/app.md 
      - mocks: api/client/mocks.md
      - page: api/client/page.md 
      - component: api/client/component.md 


extra:
  generator: false

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences